h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
}
h2{
    font-size: 48px;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}
section{
    padding: 120px 0;
}
.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    min-height: 100px;
}
#hero{
    background-image: url(../Imágenes/narrative-794978_1920.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}
#hero p{
    
    color: rgb(255, 255, 255);
}
.content-center-1{
    background-color: rgba(0, 0, 0, 0.384);
    box-shadow: 0 2px 9px 0 rgb(0, 0, 0);
max-width: 800px;
margin: 0 auto 60px auto;
text-align: center;
}
.content-center{

max-width: 800px;
margin: 0 auto 60px auto;
text-align: center;
}
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}
.portafolio-details{
 text-align: center;
 bottom: 10px;
 left: 32vh;
 z-index: 9000;
 position: absolute;
}
.portafolio-details h2{
    font-size: 35px;
}
.portafolio-details p{
    color: rgb(255, 0, 200);
    background-color: rgb(138, 0, 53);
}
.portafolio-details a{
    color: rgb(97, 12, 97);
    animation-name: joya;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}
@keyframes joya{
    0%{
        color: rgb(97, 12, 12);
    }
    25%{
        color: rgb(128, 119, 0);
    }
    50%{
        color: rgb(0, 255, 136);
    }
    75%{
        color: rgb(0, 68, 255);
    }
    100%{
        color: rgb(184, 25, 216);
    }
}
img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    box-shadow: 0px 5px 15px 1px rgb(43, 2, 11);
    
}
img:hover{
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1-2);
    
}
a:hover{
    text-decoration: none;
    color: plum;
}
#amatista-tormenta{
    width:  85%;
    margin-left: 54px;
}
#dorado{
    width: 100%;
    max-height: 1500px;
    height: 182px
}



@media (max-width: 575.98px) { 
    h1{
        font-size: 40px;
        line-height: normal;
    }
 }


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) {  }

@media (max-width: 1199.98px) {  }

