/*Menu */ 
body {
    font-family: "Lato", sans-serif; 
    
}
.sidebar {
    height: 100%;
    width: 11vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    padding-top: 1.4vw;
  }
  
  .sidebar a {
    padding: 0.6vw 1vw 0.6vw 1vw;
    text-decoration: none;
    font-size: 1.3vw;
    color: #ffffff79;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 11vw; 
    padding: 0vw 1vw;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 1.3vw;}
  }
  .iconF{
    position: absolute;
    width: 2.7vw;
    padding-top: 24vw;
}
.iconI{
    position: absolute;
    width: 2.7vw;
    padding-left: 3.2vw;
  padding-top: 26vw;
}
.iconG{
    position:absolute;
    width: 2.7vw;
    padding-left: 3.6;
    padding-top: 25vw;
}
h1{
    text-align: center;
    padding-left: 10vw;
    font-size: 8vw;
    color: rgb(255, 255, 255);
    margin-bottom: 3vw;
}
h2{
  text-align: center;
  padding-left: 2vw;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.671);
  margin-bottom: 3vw;
  margin-top: 6vw;
}
h3{
    text-align: center;
    padding-left: 0vw;
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.671);
    margin-bottom: 3vw;
}
p{
    
    color: rgba(255, 255, 255, 0.507);
    margin-left: 12vw;
    margin-right: 1.6vw;
    margin-bottom: 2vw;
    font-size: 1.36vw;
}
video{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-2%);
    z-index: -100;
    background-size: cover;
}
a{
  text-decoration: none;
  color: rgb(0, 255, 55);
  }
  fieldset{
    background-color: rgba(0, 0, 0, 0.616);
    border: none;
    border-radius: 9vw;
    width: 600px;
    text-align: center;
    font-size: 2.3vw;
    font-family: 'Rye', cursive;
    margin: 0 auto;
    margin-left: 32.9vw;
  }
  .centerdark{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2vw;
    } 
    label{
      color: rgba(255, 255, 255, 0.616);
    }
    .tada{
      background-color: rgba(0, 0, 0, 0.603);
      border-radius: 23vw;
      width: 12vw;
      height: 4vw;
      color: rgb(255, 255, 255);
      font-size: 1.5vw;
      margin: unset;
      }
      .tada2{
        background-color: rgba(0, 0, 0, 0.603);
        border-radius: 23vw;
        width: 12vw;
        height: 4vw;
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
        margin: unset;
      }
      
      
  

  